body {
    text-align: center;
    
}

.jumbotron  {
    height:70em; 
}

#me {

    width: 180px;
    height: 180px;
    border-radius:50%;
    border:solid;
    border-color:black;
    margin-top:15%;
   
    

}
 .intro{
    
    font-size: 10em;
    font-family: 'Comfortaa', cursive, Times, serif;

    text-shadow: -1px -1px #000000
}


.contain {
    max-width: 100%;
    text-align: center;
}

.category {
    position: relative;
    display: inline-block;
    overflow:hidden;
    padding: 40px;
}

h2 {
    position:relative;
   
}

.category1 {
    color:white;
    position: relative;
    display:inline-grid;
    padding: 40px;
}

.zoom {
    padding:50px;
    width:500px;
    height:300px;
    transition:ease-in-out transform 1s;
    transition-delay:.1s;

  
    
}

.zoom:hover {
    transform:scale(2.4);
    z-index: 3;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 40px;
}
    .image-container .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #FFF;
        transition-delay: 1s;
    }
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    
}


.nav-item:hover {
    font-size:15px;
    text-transform:uppercase;
}

.div-body {
    padding: 0;
    margin: 0 auto;
    width: auto;
    height: auto;
    min-width: 1000px;
    min-height: 1000px;
    font-size: 16px;
    height: 2em;
}
